{% extends "warhammerwiki/base.html" %}
{% load static from staticfiles %}
{% block content %}


<div>
    <label>Races: </label>
    <select id="race">
            <option>---- select ----</option>
            {% for race in allraces %}
                <option id="{{ race.slug }}x">{{ race.race_name }}</option>
            {% endfor %}
     </select>
</div>

{% for race in allraces %}
<div id="all_choices">
    <div class='unit_choice' id="{{ race.slug }}">
        <label>Units: </label>
        <select class="unit">
                    <option value="def" id="default">---- select ----</option>
                {% for unit in race.unit_set.all %}
                    <option>{{ unit.unit_name }}</option>
                {% endfor %}
        </select>
    </div>
</div>
{% endfor %}


<button id="btn">Submit</button>

<div id="all_stats">
    {% include 'warhammerwiki/unit.html' %}
</div>




<div id="trying_things"></div>

{% endblock %}