{% load static from staticfiles %}

<div id="unit-{{ object.slug }}">
    <article class="media content-section" id="image-section">
    </article>
        <h2 id="unit_name">name</h2>


<header role="banner">
  <nav class="nav" role="navigation">
    <div id="Container">
      <div id="Copyright">
      </div>
                <div id="Stretch">
        <!-- Other elements here -->
                <div>
                    <ul class="nav__list mb-0">
                      <li>
                        <input id="SP Cost" type="checkbox" hidden />
                        <label for="SP Cost" class="card-header py-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" data-tooltip title="This is how much you pay to recruit this unit in campaign."><i class="fa-th"></i> <img src="{% static 'warhammerwiki/images/icon_income.png' %}"> SP Cost: </a>
                                <a href="#" style="text-decoration : none" id="unit_cost">sp_cost</a>
                        </label>
                        <ul class="group-list">
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" data-tooltip title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/icon_upkeep.png' %}"> Upkeep: </a>
                                <a href="#" style="text-decoration : none" id="unit_upkeep">upkeep</a>
                            </label>
                        </ul>
                      </li>
                    </ul>
                </div>
                <div>
                    <ul class="nav__list mb-0">
                            <label class="card-header text-white py-0 d-flex justify-content-between">
                                    <a href="#" style="text-decoration : none" data-tooltip title="This is how much you pay to recruit this unit in an online battle."><i class="fa-th"></i> <img src="{% static 'warhammerwiki/images/icon_treasury.png' %}"> MP Cost: </a>
                                    <a href="#" style="text-decoration : none" id="unit_mp_cost">mp_cost</a>
                            </label>
                    </ul>
                </div>
                    <ul class="nav__list mb-0">

                        <li>
                        <input id="Health" type="checkbox" hidden />
                        <label for="Health" class="card-header text-white py-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" data-tooltip title="This is how much you pay to recruit this unit in campaign."><i class="fa-th"></i> <img src="{% static 'warhammerwiki/images/icon_stat_health.png' %}"> Health: </a>
                                <a href="#" style="text-decoration : none" id="unit_health">health</a>
                        </label>
                        <ul class="group-list">
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" data-tooltip title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/spacebar_unit_health_ammo.png' %}"> Health per Entity: </a>
                                <a href="#" style="text-decoration : none" id="unit_health_per_entity">health_per_entity</a>
                            </label>
                        </ul>
                      </li>
                    </ul>
                <div>
                    <ul class="nav__list mb-0">
                      <li>
                        <input id="Armour" type="checkbox" hidden />
                        <label for="Armour" class="card-header text-white py-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" data-tooltip title="How resistant a unit is to missile fire and melee attacks."><i class="fa-th"></i> <img src="{% static 'warhammerwiki/images/icon_stat_armour.png' %}"> Armour: </a>
                                <a href="#" style="text-decoration : none" class="attributes">
                                        <div><img src="{% static 'warhammerwiki/images/modifier_icon_shield1.png' %}" data-tooltip title="35% chance to block front missile attacks" class="hide_image" id="bronze_shield"></div>
                                        <div><img src="{% static 'warhammerwiki/images/modifier_icon_shield2.png' %}" data-tooltip title="60% chance to block front missile attacks" class="hide_image" id="silver_shield"></div>
                                        <div id="unit_armour"></div>
                                </a>
                        </label>
                        <ul class="group-list mb-0">
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaa"><img src="{% static 'warhammerwiki/images/modifier_icon_shield.png' %}"> Parry Chance: </a>
                                <a href="#" style="text-decoration : none" id="unit_parry_chance">parry_chance</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaa"><img src="{% static 'warhammerwiki/images/resistance_ward_save.png' %}"> Ward Save: </a>
                                <a href="#" style="text-decoration : none" id="unit_ward_save">ward_save</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaa"><img src="{% static 'warhammerwiki/images/resistance_physical.png' %}"> Physical Resistance: </a>
                                <a href="#" style="text-decoration : none" id="unit_physical_resistance">pyysical_resistance</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaa"><img src="{% static 'warhammerwiki/images/resistance_missile.png' %}"> Missile Resistance: </a>
                                <a href="#" style="text-decoration : none" id="unit_missile_resistance">missile_resistance</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaa"><img src="{% static 'warhammerwiki/images/resistance_magic.png' %}"> Magic Resistance: </a>
                                <a href="#" style="text-decoration : none" id="unit_magic_resistance">magic_resistance</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/resistance_fire.png' %}"> Fire Resistance: </a>
                                <a href="#" style="text-decoration : none" id="unit_fire_resistance">fire_resistance</a>
                            </label>
                        </ul>
                      </li>
                    </ul>
                </div>

                <div>
                    <ul class="nav__list mb-0">
                        <label class="card-header text-white py-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"><i class="fa-th"></i><img src="{% static 'warhammerwiki/images/icon_stat_morale.png' %}"> Leadership: </a>
                                <a href="#" style="text-decoration : none" id="unit_leadership">leadership</a>
                        </label>
                    </ul>
                </div>
                <div>
                    <ul class="nav__list mb-0">
                        <label class="card-header text-white py-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"><i class="fa-th"></i><img src="{% static 'warhammerwiki/images/icon_stat_speed.png' %}"> Speed: </a>
                                <a href="#" style="text-decoration : none" id="unit_speed">speed</a>
                        </label>
                    </ul>
                </div>

                <div>
                    <ul class="nav__list mb-0">
                      <li>
                        <input id="Melee Attack" type="checkbox" hidden />
                        <label for="Melee Attack" class="card-header py-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaa"><i class="fa-th"></i><img src="{% static 'warhammerwiki/images/icon_stat_attack.png' %}"> Melee Attack: </a>
                                <a href="#" style="text-decoration : none" class="attributes">
                                        <div><img src="{% static 'warhammerwiki/images/modifier_icon_flaming.png' %}" class="hide_image" id="melee_fire_attack"></div>
                                        <div><img src="{% static 'warhammerwiki/images/modifier_icon_magical.png' %}" class="hide_image"  id="melee_magic_attack"></div>
                                        <div><img src="{% static 'warhammerwiki/images/wh_main_unit_contact_poison.png' %}" class="hide_image"  id="melee_poison_attack"></div>
                                        <div><img src="{% static 'warhammerwiki/images/wh_dlc08_unit_contact_frostbite.png' %}" class="hide_image"  id="frostbite"></div>
                                        <div><img src="{% static 'warhammerwiki/images/wh_dlc06_unit_contact_sundered_armour.png' %} " class="hide_image"  id="sundered_armour"></div>
                                        <div><img src="{% static 'warhammerwiki/images/wh2_main_unit_contact_weeping_blade.png' %}" class="hide_image"  id="weeping_blade"></div>
                                        <div><img src="{% static 'warhammerwiki/images/wh2_dlc11_unit_contact_disrupted.png' %}" class="hide_image"  id="disturbed"></div>
                                        <div><img src="{% static 'warhammerwiki/images/wh2_dlc11_unit_contact_charmed.png' %}" class="hide_image"  id="charmed"></div>
                                        <div><img src="{% static 'warhammerwiki/images/wh2_main_unit_contact_plague_monk_censer_morale.png' %}" class="hide_image"  id="contaminated"></div>
                                        <div id="unit_melee_attack"></div>
                                </a>
                        </label>
                        <ul class="group-list mb-a">
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaa"><img src="{% static 'warhammerwiki/images/icon_status_melee_24px.png' %}"> Attack Interval: </a>
                                <a href="#" style="text-decoration : none" id="unit_attack_interval">attack_interval</a>
                            </label>
                        </ul>
                      </li>
                    </ul>
                </div>

                <div>
                    <ul class="nav__list mb-0">
                        <label class="card-header text-white py-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"><i class="fa-th"></i><img src="{% static 'warhammerwiki/images/icon_stat_defence.png' %}"> Melee Defence: </a>
                                <a href="#" style="text-decoration : none" id="unit_melee_defence">melee_defence</a>
                        </label>
                    </ul>
                </div>

                <div>
                    <ul class="nav__list mb-0">
                      <li>
                        <input id="Weapon Strength" type="checkbox" hidden />
                        <label for="Weapon Strength" class="card-header py-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"><i class="fa-th"></i> <img src="{% static 'warhammerwiki/images/icon_stat_damage.png' %}"> Weapon Strength: </a>
                                <a href="#" style="text-decoration : none" class="attributes">
                                    <div><img src="{% static 'warhammerwiki/images/modifier_icon_armour_piercing.png' %}" title="Armour-Piercing Damage" class="hide_image" id="ap_damage"></div>
                                    <div><img src="{% static 'warhammerwiki/images/modifier_icon_bonus_vs_infantry.png' %}" class="hide_image" id="bonus_vs_inf"></div>
                                    <div><img src="{% static 'warhammerwiki/images/modifier_icon_bonus_vs_large.png' %}" class="hide_image" id="bonus_vs_large"></div>
                                    <div id="unit_weapon_strength"></div>
                                </a>
                        </label>
                        <ul class="group-list mb-0">
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"><img src="{% static 'warhammerwiki/images/icon_stat_damage.png' %}"> Base Damage: </a>
                                <a href="#" style="text-decoration : none" id="unit_base_damage">base_damage</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"><img src="{% static 'warhammerwiki/images/modifier_icon_armour_piercing.png' %}"> AP Damage: </a>
                                <a href="#" style="text-decoration : none" id="unit_ap_damage">ap_damage</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"><img src="{% static 'warhammerwiki/images/modifier_icon_bonus_vs_large.png' %}"> Bonus vs. Large: Upkeep: </a>
                                <a href="#" style="text-decoration : none" id="unit_bonus_vs_large">bonus_vs_large</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"><img src="{% static 'warhammerwiki/images/modifier_icon_bonus_vs_infantry.png' %}"> Bonus vs. Infantry: </a>
                                <a href="#" style="text-decoration : none" id="unit_bonus_vs_infantry">bonus_vs_infantry</a>
                            </label>
                        </ul>
                      </li>
                    </ul>
                </div>
                <div>
                    <ul class="nav__list mb-0">
                        <label class="card-header text-white py-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"><i class="fa-th"></i><img src="{% static 'warhammerwiki/images/icon_stat_charge_bonus.png' %}"> Charge Bonus: </a>
                                <a href="#" style="text-decoration : none" id="unit_charge_bonus">charge_bonus</a>
                        </label>
                    </ul>
                </div>
                <div>
                    <ul class="nav__list mb-0" id="ammo_box">
                        <label class="card-header text-white py-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"><i class="fa-th"></i><img src="{% static 'warhammerwiki/images/icon_stat_ammo.png' %}"> Ammunition: </a>
                                <a href="#" style="text-decoration : none" class="attributes">
                                    <div><img src="{% static 'warhammerwiki/images/modifier_icon_flaming.png' %}" title="Armour-Piercing Damage" class="hide_image" id="missile_fire_attack"></div>
                                    <div><img src="{% static 'warhammerwiki/images/modifier_icon_magical.png' %}" class="hide_image" id="missile_magic_attack"></div>
                                    <div><img src="{% static 'warhammerwiki/images/wh2_dlc12_unit_contact_suppressive_fire.png' %}" class="hide_image" id="suppressed"></div>
                                    <div id="unit_ammunition"></div>
                                </a>
                        </label>
                    </ul>
                </div>

                <div>
                    <ul class="nav__list mb-0" id="range_box">
                        <label class="card-header text-white py-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"><i class="fa-th"></i><img src="{% static 'warhammerwiki/images/icon_stat_range.png' %}"> Range: </a>
                                <a href="#" style="text-decoration : none" id="unit_range">object.range</a>
                        </label>
                    </ul>
                </div>

                <div>
                    <ul class="nav__list mb-0" id="missile_damage_box">
                      <li>
                        <input id="Missile Damage" type="checkbox" hidden />
                          <label for="Missile Damage" class="card-header py-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay to recruit this unit in campaign."><i class="fa-th"></i> <img src="{% static 'warhammerwiki/images/icon_stat_ranged_damage.png' %}"> Missile Damage: </a>
                                <a href="#" style="text-decoration : none" class="attributes">
                                    <div><img src="{% static 'warhammerwiki/images/modifier_icon_armour_piercing.png' %}" title="Armour-Piercing Damage" class="hide_image" id="missile_ap_yes_no"></div>
                                    <div><img src="{% static 'warhammerwiki/images/modifier_icon_bonus_vs_large.png' %}" class="hide_image" id="missile_bonus_large_yes_no"></div>
                                    <div><img src="{% static 'warhammerwiki/images/modifier_icon_bonus_vs_infantry.png' %}" class="hide_image" id="missile_bonus_inf_yes_no"></div>
                                    <div><img src="{% static 'warhammerwiki/images/wh_main_unit_contact_poison.png' %}" class="hide_image" id="missile_poision_attack"></div>
                                    <div><img src="{% static 'warhammerwiki/images/wh_dlc06_unit_contact_sundered_armour.png' %}" class="hide_image" id="missile_sundered_armour"></div>
                                    <div><img src="{% static 'warhammerwiki/images/wh2_dlc12_unit_passive_zzzap.png' %}" class="hide_image" id="zzzzap"></div>
                                    <div><img src="{% static 'warhammerwiki/images/wh2_dlc12_unit_contact_flammable.png' %}" class="hide_image" id="flammable"></div>
                                    <div><img src="{% static 'warhammerwiki/images/wh_dlc06_unit_contact_blinded.png' %}" class="hide_image" id="blinded"></div>
                                    <div><img src="{% static 'warhammerwiki/images/wh2_dlc11_unit_contact_monstrous_impact.png' %}" class="hide_image" id="monstrous_impact"></div>
                                    <div><img src="{% static 'warhammerwiki/images/wh2_dlc11_unit_contact_disrupted.png' %}" class="hide_image" id="missile_disturbed"></div>
                                    <div><img src="{% static 'warhammerwiki/images/wh2_dlc09_unit_contact_shieldbreaker.png' %}" class="hide_image" id="shieldbreaker"></div>
                                    <div><img src="{% static 'warhammerwiki/images/wh2_main_unit_contact_plague_monk_censer_morale.png' %}" class="hide_image" id="burnt"></div>
                                    <div id="unit_missile_damage"></div>
                                </a>
                              </label>
                        <ul class="group-list">
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/icon_stat_ranged_damage.png' %}"> Missile Base Damage: </a>
                                <a href="#" style="text-decoration : none" id="unit_missile_base_damage">missile_base_damage</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/modifier_icon_armour_piercing_ranged.png' %}"> Missile AP Damage: </a>
                                <a href="#" style="text-decoration : none" id="unit_missile_ap_damage">missile_ap_damage</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/modifier_icon_bonus_vs_infantry.png' %}"> Bonus vs. Infantry: </a>
                                <a href="#" style="text-decoration : none" id="unit_missile_bonus_vs_infantry">object.missile_bonus_vs_infantry</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/modifier_icon_bonus_vs_large.png' %}"> Bonus vs. Large: </a>
                                <a href="#" style="text-decoration : none" id="unit_missile_bonus_vs_large">missile_bonus_vs_large</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/icon_stat_ranged_damage.png' %}"> Explosion Base Dmg: </a>
                                <a href="#" style="text-decoration : none" id="unit_explosion_base_damage">object.explosion_base_damage</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/modifier_icon_armour_piercing_ranged.png' %}"> Explosion AP Dmg: </a>
                                <a href="#" style="text-decoration : none" id="unit_explosion_ap_damage">explosion_ap_damage</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/icon_status_firing_24px.png' %}"> Shots Per Volley: </a>
                                <a href="#" style="text-decoration : none" id="unit_shot_per_volley">shot_per_volley</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/icon_status_firing_24px.png' %}"> Projectile Number: </a>
                                <a href="#" style="text-decoration : none" id="unit_projectile_number">projectile_number</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/icon_cooldown.png' %}"> Reload Time: </a>
                                <a href="#" style="text-decoration : none" id="unit_reload_time">reload_time</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/spacebar_fire_arc.png' %}"> Total Accuracy: </a>
                                <a href="#" style="text-decoration : none" id="unit_total_accuracy">object.total_accuracy</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/icon_distance_to_target.png' %}"> Calibration Distance: </a>
                                <a href="#" style="text-decoration : none" id="unit_calibration_distance">object.calibration_distance</a>
                            </label>
                            <label class="card-header p-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="This is how much you pay for this unit each turn."><img src="{% static 'warhammerwiki/images/icon_upkeep.png' %}"> Calibration Area: </a>
                                <a href="#" style="text-decoration : none" id="unit_calibration_area">object.calibration_area</a>
                            </label>
                        </ul>
                      </li>
                    </ul>
                </div>
                <div>
                    <ul class="nav__list">
                        <label class="card-header text-white py-0 d-flex justify-content-between">
                                <a href="#" style="text-decoration : none" title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"><i class="fa-th"></i><img src="{% static 'warhammerwiki/images/icon_upkeep.png' %}"> Fatigue Modifier:</a>
                                <a href="#" style="text-decoration : none" id="unit_fatigue_modifier">fatigue_modifier</a>
                        </label>
                    </ul>
                </div>
      </div>
    </div>
  </nav>
</header>