#all_stats {
  display: none;
}

#all_stats2 {
  display: none;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



* {
  margin: 0;
  padding: 0;
}

html,
body,
.Container {
  height: 100%;
  color: white;
}

.Container:before {
  content: '';
  height: 100%;
  float: left;
}


.Stretch:after {
  content: '';
  display: block;
  clear: both;
}

.Container,
.Container>div {
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family: Verdana;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #000000;
}

.site-header .navbar-nav .nav-link {
  color: ##FF0000;
}

.site-header .navbar-nav .nav-link:hover {
  color: #FF0000;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 5px 20px;
  border: 1px solid #dddddd;
  border-radius: 25px;
  margin-bottom: 10px;
}

.article-title {
  color: #FF0000;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}


.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.unit_choice {
    display: none;
}


.unit_choice2 {
    display: none;
}


.hide_image {
    margin: -3px;
    margin-left: -1px;
    padding-right: 4px

}



.attributes {
    float: right;
}


.attributes > div {
   display: inline-block;
   margin-left: -13px;
   padding-right: 7px;

}​

.all-boxes  {
    display: flex;
    flex-direction: column;

}


.one-line {
    display: inline-block;
}

.box {
    background: #101010;
    color: white;
    display: inline-block;
    width: 300px;
    height: 35px;
    font-family: Verdana,Geneva,sans-serif;
    vertical-align: middle;
    line-height: 160%;
    font-size: 1.1em;
    padding-left:7px;

}

.collapsed_box .box {
    background:#383838;
    color: white;
    display: inline-block;
    width: 300px;
    height: 35px;
    font-family: Verdana,Geneva,sans-serif;
    vertical-align: middle;
    line-height: 160%;
    font-size: 1.1em;
    padding-left:7px;

}


.box  {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.box-name {
    float: left;
}

.box-num {
    float: right;
    padding-right: 7px;
}

box-num div {
    display: inline-block;
}

.comparison {
    background: green;
    color: white;
    display: inline;
    height: 20px;
    font-family: Verdana,Geneva,sans-serif;
    line-height: -25px;
    font-size: 1.0em;
    padding-left:1px;
    padding-right:2px;
    margin: -5px
}

section {
    display: flex;
    flex-direction: row;
}


.unit-row{
    text-align: center;
}

.unit-card {
    display:inline-block;
    margin-bottom: 0px;
    height: 150px;
    margin-bottom: 5px;
    margin-right: -5px;
    margin-left: 0px;

}




.unit-card-frame {
  position: absolute;
}


.unit-card {
    width: 60px;
    height: 90%
}

.unit-card {
    display:inline-block;
    height: 130px;

}


